* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  min-height: 100%;
  position: relative;
  display: grid;
  place-items: center;
}
.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.slide .switch {
  left: 50%;
}
.honeText {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  justify-self: center;
}
